@import "values";

@font-face {
  font-family: "Source Code Pro";
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url("../fonts/SourceSansPro-Regular.woff2") format('woff2'),
  url("../fonts/SourceSansPro-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Code Pro";
  src: local('Source SansPro SemiBold'), local('SourceSansPro-SemiBold'), url("../fonts/SourceSansPro-SemiBold.woff2") format('woff2'),
  url("../fonts/SourceSansPro-SemiBold.woff") format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Code Pro", sans-serif;
}

.content {
  max-width: $maxWidthWindow;
  min-width: 320px;
  min-height: 300px;
  border-radius: 15px;
  margin: 0 auto;
}
.container{
  padding-top: 20px;
  margin: 0 auto;
  max-width: $maxWidthContainer;
}


form {
  padding: 90px 91px 90px 85px;
  border-radius: 20px;
  box-shadow: 0 0 70px -45px;
}


.form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  column-gap: 20px;
  font-size: 20px;
  &__left {
    max-width: 750px;
    flex-grow: 1;
  }
  &__info {
    font-size: 16px;
    color: #797777;
  }
  &__title {
    margin-bottom: 52px;
    font-weight: 600;
    font-size: 48px;
  }

  &__button {
    font-size: 20px;
    background-color: white;
    padding: 11px 20px;
    outline: none;
    border: 3px solid #ccc;
    cursor: pointer;
    &-left {
      border-radius: 5px 0 0 5px;
    }

    &-right {
      border-radius: 0 5px 5px 0;
      margin-left: -7px;
    }

    &_active {
      border-color: $siteColor;
      position: relative;
    }
  }
  &__sort {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 63px;
  }
  &__settings {
    display: flex;
    flex-direction: column;
  }
  &__button-submit{
    background-color: #67ac5b;
    padding: 17px 0;
    width: 100%;
    min-width: 200px;
    margin-bottom: 37px;
    font-size: 22px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  &__final-price{
    margin-bottom: 27px;
  }
  &__title-price {
    color: #797777;
  }
  &__price {
    font-size: 63px;
    font-weight: 600;
  }
  &__right{
    max-width: 370px;
    min-width: 200px;
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}


.input-range {
  margin-bottom: 40px;
  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 0 25px;
  }
  & label {
    display: block;
    margin-bottom: -5px;
  }
  & label input {
    width: 100%;
  }
  &__value {
    margin-right: 20px;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    color: #797777;
  }
  &__input {
    -webkit-appearance: none;
    height: 6px;
    border-radius: 5px;
    outline: none;
  }
  &__top{
    background: linear-gradient(to right, #67ac5b 14%, #c5c4c4 14%);
  }
  &__bottom{
    background: linear-gradient(to right, #67ac5b 60%, #c5c4c4 60%);
  }
  &__input::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: $siteColor;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
  }
  &__input::-moz-range-thumb{
    -moz-appearance: none;
    background: $siteColor;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
  }
}

.subtitle{
  font-size: 27px;
}
@media screen and(max-width: 1415px){
  .form{
    &__title {
      font-size: calc(36px + 12 * (100vw / 1415));
    }
    &__button{
      font-size: calc(15px + 5 * (100vw / 1415));
    }
    &__info{
      font-size: calc(11px + 5 * (100vw / 1415));
    }
    &__title-price{
      font-size: calc(16px + 4 * (100vw / 1415));
    }
    &__price{
      font-size: calc(44px + 19 * (100vw / 1415));
    }
    &__button-submit{
      font-size: calc(15px + 7 * (100vw / 1415));
    }
  }
  .input-range{
    &__info{
      font-size: calc(13px + 7 * (100vw / 1415));
    }
  }
  .subtitle{
    font-size: calc(20px + 7 * (100vw / 1415));
  }
}

@media screen and(max-width: 1140px){
  .form{
    justify-content: center;
    row-gap: 30px;
    &__left{
      max-width: 100%;
    }
    &__right{
      flex-direction: row;
      justify-content: space-between;
      column-gap: 40px;
      max-width: 100%;
      align-items: center;
    }
    &__info{
      align-self: center;
    }
  }
  .container{
    padding-top: 0;
  }
  form{
    padding: 40px;
  }
}

@media screen and(max-width: 720px){
  .form{
    justify-content: center;
    row-gap: 10px;
    &__title{
      text-align: center;
      margin-bottom: 20px;
    }
    &__left{
      margin-bottom: 20px;
    }
    &__right{
      justify-content: space-around;
    }
    &__sort{
      justify-content: center;
      column-gap: 20px;
      row-gap: 10px;
      margin-bottom: 35px;
    }
  }
  .input-range{
    margin-bottom: 20px;
    &__item{
      margin-bottom: 0;
    }
  }
  form{
    padding: 30px;
  }
}
@media screen and(max-width: 540px){
  .form{
    row-gap: 5px;
    &__title{
      margin-bottom: 15px;
    }
    &__sort{
      flex-basis: 100%;
      display: block;
      column-gap: 10px;
      row-gap: 10px;
      margin-bottom: 10px;
      &:first-child{
        text-align: center;
      }
    }
    &__button{
      width: 100%;
      display: block;
      margin: 0 auto;
      border-radius: 5px;
    }
    &__button-submit{
      margin-bottom: 0;
    }
  }
  form{
    padding: 20px;
  }
  .input-range{
    margin-bottom: 15px;
    &__item{
      margin-bottom: -10px;
      padding: 0;
    }
  }
}
